body{background-color:grey}

nav{
    height:10vh;
    border-style:dotted;
    border-color:white;
    display:flex;
    flex-direction: row;
}

main{
    height:80vh;
    border-style:dotted;
    border-color:yellowgreen;
    display:flex;
    flex-direction: row;
}

footer{
    height:4vh;
    border-style:dotted;
    border-color:turquoise;
    display:flex;
    flex-direction: row;
}
nav>section{
    height:100%;
    width:33%;
    border-style:solid;
    border-color:wheat;
}
main > section{
    height:100%;
    width:33%;
    border-style:dotted;
    border-color:thistle;
}
#infoSection{
    display:flex;
    flex-direction:row;
}
#infoSection > section {
    width:50%;
    border-color:teal;
    border-style:dotted;
}
#startSection{
    color:white;
    display:flex;
}
#startSection > section{
    height:100%;
    width:33%;
    border-style:dotted;
    border-color:red;
}

#drumMashineAdd{
    display:flex;
    flex-direction:column;
}
#drumMashineAdd > section{
    height:33%;
    width:100%;
    border-style:dotted;
    border-color:violet;
}
#loginSection{
    display:flex;
    flex-direction:column;
}
#loginSection > section {
    height:50%;
    width:100%;
    border-style:dotted;
    border-color:tomato;
}
footer > section{
    height:100%;
    width:20%;
    border-style:dotted;
    border-color:wheat;
}
#logoSection{
display:flex;
justify-content:center;
background-color:rgb(95, 91, 91);
}
#logoSection h1{
    margin-top:-6%;
    color:white;
    font-size:15vh;
    font-family: 'Akaya Kanadaka', solid;
}